<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        <a href="{{ site.baseurl }}about">About </a>
    {% endif %}
    {% if page.url != "/resume/" %}
        <a href="{{ site.baseurl }}resume">Resume </a>
    {% endif %}
    {% if page.url != "/photos/" %}
        <a href="{{ site.baseurl }}photos">Photos </a>
    {% endif %}
    <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</nav>
